# Ignore generated card data
cards.json
cards_metadata.json
#ignore credentials
credentials.txt
# Build artifacts
build/
dist/
dist_nuitka/

# Local environment
.venv/
*.log

# Keep folders, ignore their contents
Buttons/*
Accounts/*
!Buttons/.gitkeep
!Accounts/.gitkeep


